//Backgrounds

//REDS
.bgRed{
     background: red !important;
    }
    .redText{
    color:red !important;
    }
    .bgRed1{
        background: bg-red-level1 !important;
    }
    .bgRed2{
        background: bg-red-level2 !important;
    }
    .bgRed3{
        background: bg-red-level3 !important;
    }
    .bgRed4{
        background: bg-red-level4 !important;
    }
    .bgRed5{
        background: bg-red-level5 !important;
    }
    .bgRed6{
      background: bg-red-level6 !important; 
    }
    .bgRed7{
      background: bg-red-level7 !important; 
    }
    .bgRed8{
      background: bg-red-level8 !important; 
    }
    .bgRed9{
      background: bg-red-level9 !important; 
    }
     //transparent
  .redTrans1 {
  background:  rgba(red(red), green(red), blue(red), 0.3) !important;
}
.redTrans2 {
 background:  rgba(red(red), green(red), blue(red), 0.4) !important;
}
.redTrans3 {
  background:  rgba(red(red), green(red), blue(red), 0.5) !important;
}
.redTrans4 {
    background:  rgba(red(red), green(red), blue(red), 0.6) !important;
}
.redTrans5 {
  background:  rgba(red(red), green(red), blue(red), 0.7) !important;
}

//BLUE
.bgBlue{
    background:blue !important;
   
    }
    .blueText{
    color:blue !important;
    }
    .bgBlue1{
        background: bg-blue-level1 !important;
    }
    .bgBlue2{
        background: bg-blue-level2 !important;
    }
    .bgBlue3{
        background: bg-blue-level3 !important;
    }
    .bgBlue4{
        background: bg-blue-level4 !important;
    }
    .bgBlue5{
        background: bg-blue-level5 !important;
    }
    .bgBlue6{
      background: bg-blue-level6 !important; 
    }
    .bgBlue7{
      background: bg-blue-level7 !important; 
    }
    .bgBlue8{
      background: bg-blue-level8 !important; 
    }
    .bgBlue9{
      background: bg-blue-level9 !important; 
    }
   //transparent
  .blueTrans1 {
  background:  rgba(red(blue), green(blue), blue(blue), 0.3) !important;
}
  .blueTrans2 {
 background:  rgba(red(blue), green(blue), blue(blue), 0.4) !important;
}
.blueTrans3 {
  background:  rgba(red(blue), green(blue), blue(blue), 0.5) !important;
}
.blueTrans4 {
    background:  rgba(red(blue), green(blue), blue(blue), 0.6) !important;
}
.blueTrans5 {
  background:  rgba(red(blue), green(blue), blue(blue), 0.7) !important;
}
//GREEN
.bgGreen{
    
    background: green !important;
    }
    .greenText{
    color: green !important;
    }
    .bgGreen1{
        background: bg-green-level1 !important;
    }
    .bgGreen2{
        background: bg-green-level2 !important;
    }
    .bgGreen3{
        background: bg-green-level3 !important;
    }
    .bgGreen4{
        background: bg-green-level4 !important;
    }
    .bgGreen5{
        background: bg-green-level5 !important;
    }
    .bgGreen6{
      background: bg-green-level6 !important; 
    }
    .bgGreen7{
      background: bg-green-level7 !important; 
    }
    .bgGreen8{
      background: bg-green-level8 !important; 
    }
    .bgGreen9{
      background: bg-green-level9 !important; 
    }
      //transparent
  .greenTrans1 {
  background:  rgba(red(green), green(green), blue(green), 0.3) !important;
}
.greenTrans2 {
 background:  rgba(red(green), green(green), blue(green), 0.4) !important;
}
.greenTrans3 {
  background:  rgba(red(green), green(green), blue(green), 0.5) !important;
}
.greenTrans4 {
    background:  rgba(red(green), green(green), blue(green), 0.6) !important;
}
.greenTrans5 {
  background:  rgba(red(green), green(green), blue(green), 0.7) !important;
} 
//pink
.bgPink{
    background:pink !important;
   
    }
    .pinkText{
    color: pink !important;
    }
    .bgPink1{
        background: bg-pink-level1 !important;
    }
    .bgPink2{
        background: bg-pink-level2 !important;
    }
    .bgPink3{
        background: bg-pink-level3 !important;
    }
    .bgPink4{
        background: bg-pink-level4 !important;
    }
    .bgPink5{
        background: bg-pink-level5 !important;
    }
    .bgPink6{
      background: bg-pink-level6 !important; 
    }
    .bgPink7{
      background: bg-pink-level7 !important; 
    }
    .bgPink8{
      background: bg-pink-level8 !important; 
    }
    .bgPink9{
      background: bg-pink-level9 !important; 
    }
       //transparent
  .pinkTrans1 {
  background:  rgba(red(pink), green(pink), blue(pink), 0.3) !important;
}
.pinkTrans2 {
 background:  rgba(red(pink), green(pink), blue(pink), 0.4) !important;
}
.pinkTrans3 {
  background:  rgba(red(pink), green(pink), blue(pink), 0.5) !important;
}
.pinkTrans4 {
    background:  rgba(red(pink), green(pink), blue(pink), 0.6) !important;
}
.pinkTrans5 {
  background:  rgba(red(pink), green(pink), blue(pink), 0.7) !important;
}
//purple
.bgPurple{
    background:purple !important;
    
    }
    .purpleText{
    color: purple !important;
    }
    .bgPurple1{
        background: bg-purple-level1 !important;
    }
    .bgPurple2{
        background: bg-purple-level2 !important;
    }
    .bgPurple3{
        background: bg-purple-level3 !important;
    }
    .bgPurple4{
        background: bg-purple-level4 !important;
    }
    .bgPurple5{
        background: bg-purple-level5 !important;
    }
    .bgPurple6{
      background: bg-purple-level6 !important; 
    }
    .bgPurple7{
      background: bg-purple-level7 !important; 
    }
    .bgPurple8{
      background: bg-purple-level8 !important; 
    }
    .bgPurple9{
      background: bg-purple-level9 !important; 
    }
       //transparent
  .purpleTrans1 {
  background:  rgba(red(purple), green(purple), blue(purple), 0.3) !important;
}
.purpleTrans2 {
 background:  rgba(red(purple), green(purple), blue(purple), 0.4) !important;
}
.purpleTrans3 {
  background:  rgba(red(purple), green(purple), blue(purple), 0.5) !important;
}
.purpleTrans4 {
    background:  rgba(red(purple), green(purple), blue(purple), 0.6) !important;
}
.purpleTrans5 {
  background:  rgba(red(purple), green(purple), blue(purple), 0.7) !important;
}
 
//deep-purple
.bgDeepPurple{
    background:deep-purple !important;
  
    }
    .deepPurpleText{
    color: deep-purple !important;
    }
    .bgDeepPurple1{
        background: bg-deep-purple-level1 !important;
    }
    .bgDeepPurple2{
        background: bg-deep-purple-level2 !important;
    }
    .bgDeepPurple3{
        background: bg-deep-purple-level3 !important;
    }
    .bgDeepPurple4{
        background: bg-deep-purple-level4 !important;
    }
    .bgDeepPurple5{
        background: bg-deep-purple-level5 !important;
    }
    .bgDeepPurple6{
      background: bg-deep-purple-level6 !important; 
    }
    .bgDeepPurple7{
      background: bg-deep-purple-level7 !important; 
    }
    .bgDeepPurple8{
      background: bg-deep-purple-level8 !important; 
    }
    .bgDeepPurple9{
      background: bg-deep-purple-level9 !important; 
    }
       //transparent
  .deepPurpleTrans1 {
  background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.3) !important;
}
.deepPurpleTrans2 {
 background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.4) !important;
}
.deepPurpleTrans3 {
  background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.5) !important;
}
.deepPurpleTrans4 {
    background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.6) !important;
}
.deepPurpleTrans5 {
  background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.7) !important;
}
//Indigo
.bgIndigo{
    background:indigo !important;
  
    }
    .indigoText{
    color: indigo !important;
    }
    .bgIndigo1{
        background: bg-indigo-level1 !important;
    }
    .bgIndigo2{
        background: bg-indigo-level2 !important;
    }
    .bgIndigo3{
        background: bg-indigo-level3 !important;
    }
    .bgIndigo4{
        background: bg-indigo-level4 !important;
    }
    .bgIndigo5{
        background: bg-indigo-level5 !important;
    }
    .bgIndigo6{
      background: bg-indigo-level6 !important; 
    }
    .bgIndigo7{
      background: bg-indigo-level7 !important; 
    }
    .bgIndigo8{
      background: bg-indigo-level8 !important; 
    }
    .bgIndigo9{
      background: bg-indigo-level9 !important; 
    }
       //transparent
  .indigoTrans1 {
  background:  rgba(red(indigo), green(indigo), blue(indigo), 0.3) !important;
}
.indigoTrans2 {
 background:  rgba(red(indigo), green(indigo), blue(indigo), 0.4) !important;
}
.indigoTrans3 {
  background:  rgba(red(indigo), green(indigo), blue(indigo), 0.5) !important;
}
.indigoTrans4 {
    background:  rgba(red(indigo), green(indigo), blue(indigo), 0.6) !important;
}
.indigoTrans5 {
  background:  rgba(red(indigo), green(indigo), blue(indigo), 0.7) !important;
}
//cyan
.bgCyan{
    background:cyan !important;
  
    }
    .cyanText{
    color: cyan !important;
    }
    .bgCyan1{
        background: bg-cyan-level1 !important;
    }
    .bgCyan2{
        background: bg-cyan-level2 !important;
    }
    .bgCyan3{
        background: bg-cyan-level3 !important;
    }
    .bgCyan4{
        background: bg-cyan-level4 !important;
    }
    .bgCyan5{
        background: bg-cyan-level5 !important;
    }
    .bgCyan6{
      background: bg-cyan-level6 !important; 
    }
    .bgCyan7{
      background: bg-cyan-level7 !important; 
    }
    .bgCyan8{
      background: bg-cyan-level8 !important; 
    }
    .bgCyan9{
      background: bg-cyan-level9 !important; 
    }
        //transparent
  .cyanTrans1 {
  background:  rgba(red(cyan), green(cyan), blue(cyan), 0.3) !important;
}
.cyanTrans2 {
 background:  rgba(red(cyan), green(cyan), blue(cyan), 0.4) !important;
}
.cyanTrans3 {
  background:  rgba(red(cyan), green(cyan), blue(cyan), 0.5) !important;
}
.cyanTrans4 {
    background:  rgba(red(cyan), green(cyan), blue(cyan), 0.6) !important;
}
.cyanTrans5 {
  background:  rgba(red(cyan), green(cyan), blue(cyan), 0.7) !important;
}

//light-blue
.bgLightBlue{
    background:light-blue !important;
    
    }
    .lightBlueText{
    color: light-blue !important;
    }
    .bgLightBlue1{
        background: bg-light-blue-level1 !important;
    }
    .bgLightBlue2{
        background: bg-light-blue-level2 !important;
    }
    .bgLightBlue3{
        background: bg-light-blue-level3 !important;
    }
    .bgLightBlue4{
        background: bg-light-blue-level4 !important;
    }
    .bgLightBlue5{
        background: bg-light-blue-level5 !important;
    }
    .bgLightBlue6{
      background: bg-light-blue-level6 !important; 
    }
    .bgLightBlue7{
      background: bg-light-blue-level7 !important; 
    }
    .bgLightBlue8{
      background: bg-light-blue-level8 !important; 
    }
    .bgLightBlue9{
      background: bg-light-blue-level9 !important; 
    }
       //transparent
  .lightBlueTrans1 {
  background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.3) !important;
}
.lightBlueTrans2 {
 background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.4) !important;
}
.lightBlueTrans3 {
  background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.5) !important;
}
.lightBlueTrans4 {
    background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.6) !important;
}
.lightBlueTrans5 {
  background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.7) !important;
}
//lime
.bgLime{
    background:lime !important;
    
    }
    .limeText{
    color: lime !important;
    }
    .bgLime1{
        background: bg-lime-level1 !important;
    }
    .bgLime2{
        background: bg-lime-level2 !important;
    }
    .bgLime3{
        background: bg-lime-level3 !important;
    }
    .bgLime4{
        background: bg-lime-level4 !important;
    }
    .bgLime5{
        background: bg-lime-level5 !important;
    }
    .bgLime6{
      background: bg-lime-level6 !important; 
    }
    .bgLime7{
      background: bg-lime-level7 !important; 
    }
    .bgLime8{
      background: bg-lime-level8 !important; 
    }
    .bgLime9{
      background: bg-lime-level9 !important; 
    }
        //transparent
  .limeTrans1 {
  background:  rgba(red(lime), green(lime), blue(lime), 0.3) !important;
}
.limeTrans2 {
 background:  rgba(red(lime), green(lime), blue(lime), 0.4) !important;
}
.limeTrans3 {
  background:  rgba(red(lime), green(lime), blue(lime), 0.5) !important;
}
.limeTrans4 {
    background:  rgba(red(lime), green(lime), blue(lime), 0.6) !important;
}
.limeTrans5 {
  background:  rgba(red(lime), green(lime), blue(lime), 0.7) !important;
}

//light-green
.bgLightGreen{
    background:light-green !important;
    
    }
    .lightGreenText{
    color: light-green !important;
    }
    .bgLightGreen1{
        background: bg-light-green-level1 !important;
    }
    .bgLightGreen2{
        background: bg-light-green-level2 !important;
    }
    .bgLightGreen3{
        background: bg-light-green-level3 !important;
    }
    .bgLightGreen4{
        background: bg-light-green-level4 !important;
    }
    .bgLightGreen5{
        background: bg-light-green-level5 !important;
    }
    .bgLightGreen6{
      background: bg-light-green-level6 !important; 
    }
    .bgLightGreen7{
      background: bg-light-green-level7 !important; 
    }
    .bgLightGreen8{
      background: bg-light-green-level8 !important; 
    }
    .bgLightGreen9{
      background: bg-light-green-level9 !important; 
    }
        //transparent
  .lightGreenTrans1 {
  background:  rgba(red(light-green), green(light-green), blue(light-green), 0.3) !important;
}
.lightGreenTrans2 {
 background:  rgba(red(light-green), green(light-green), blue(light-green), 0.4) !important;
}
.lightGreenTrans3 {
  background:  rgba(red(light-green), green(light-green), blue(light-green), 0.5) !important;
}
.lightGreenTrans4 {
    background:  rgba(red(light-green), green(light-green), blue(light-green), 0.6) !important;
}
.lightGreenTrans5 {
  background:  rgba(red(light-green), green(light-green), blue(light-green), 0.7) !important;
}
//teal
.bgTeal{
    background:teal !important;
   
    }
    .tealText{
    color: teal !important;
    }
    .bgTeal1{
        background: bg-teal-level1 !important;
    }
    .bgTeal2{
        background: bg-teal-level2 !important;
    }
    .bgTeal3{
        background: bg-teal-level3 !important;
    }
    .bgTeal4{
        background: bg-teal-level4 !important;
    }
    .bgTeal5{
        background: bg-teal-level5 !important;
    }
    .bgTeal6{
      background: bg-teal-level6 !important; 
    }
    .bgTeal7{
      background: bg-teal-level7 !important; 
    }
    .bgTeal8{
      background: bg-teal-level8 !important; 
    }
    .bgTeal9{
      background: bg-teal-level9 !important; 
    }
       //transparent
  .tealTrans1 {
  background:  rgba(red(teal), green(teal), blue(teal), 0.3) !important;
}
.tealTrans2 {
 background:  rgba(red(teal), green(teal), blue(teal), 0.4) !important;
}
.tealTrans3 {
  background:  rgba(red(teal), green(teal), blue(teal), 0.5) !important;
}
.tealTrans4 {
    background:  rgba(red(teal), green(teal), blue(teal), 0.6) !important;
}
.tealTrans5 {
  background:  rgba(red(teal), green(teal), blue(teal), 0.7) !important;
}
//yellow
.bgYellow{
    background:yellow !important;
    
    }
    .yellowText{
    color: yellow !important;
    }
    .bgYellow1{
        background: bg-yellow-level1 !important;
    }
    .bgYellow2{
        background: bg-yellow-level2 !important;
    }
    .bgYellow3{
        background: bg-yellow-level3 !important;
    }
    .bgYellow4{
        background: bg-yellow-level4 !important;
    }
    .bgYellow5{
        background: bg-yellow-level5 !important;
    }
    .bgYellow6{
      background: bg-yellow-level6 !important; 
    }
    .bgYellow7{
      background: bg-yellow-level7 !important; 
    }
    .bgYellow8{
      background: bg-yellow-level8 !important; 
    }
    .bgYellow9{
      background: bg-yellow-level9 !important; 
    }
        //transparent
  .yellowTrans1 {
  background:  rgba(red(yellow), green(yellow), blue(yellow), 0.3) !important;
}
.yellowTrans2 {
 background:  rgba(red(yellow), green(yellow), blue(yellow), 0.4) !important;
}
.yellowTrans3 {
  background:  rgba(red(yellow), green(yellow), blue(yellow), 0.5) !important;
}
.yellowTrans4 {
    background:  rgba(red(yellow), green(yellow), blue(yellow), 0.6) !important;
}
.yellowTrans5 {
  background:  rgba(red(yellow), green(yellow), blue(yellow), 0.7) !important;
}
//amber
.bgAmber{
    background:amber !important;
   
    }
    .amberText{
    color: amber !important;
    }
    .bgAmber1{
        background: bg-amber-level1 !important;
    }
    .bgAmber2{
        background: bg-amber-level2 !important;
    }
    .bgAmber3{
        background: bg-amber-level3 !important;
    }
    .bgAmber4{
        background: bg-amber-level4 !important;
    }
    .bgAmber5{
        background: bg-amber-level5 !important;
    }
    .bgAmber6{
      background: bg-amber-level6 !important; 
    }
    .bgAmber7{
      background: bg-amber-level7 !important; 
    }
    .bgAmber8{
      background: bg-amber-level8 !important; 
    }
    .bgAmber9{
      background: bg-amber-level9 !important; 
    }
        //transparent
  .amberTrans1 {
  background:  rgba(red(amber), green(amber), blue(amber), 0.3) !important;
}
.amberTrans2 {
 background:  rgba(red(amber), green(amber), blue(amber), 0.4) !important;
}
.amberTrans3 {
  background:  rgba(red(amber), green(amber), blue(amber), 0.5) !important;
}
.amberTrans4 {
    background:  rgba(red(amber), green(amber), blue(amber), 0.6) !important;
}
.amberTrans5 {
  background:  rgba(red(amber), green(amber), blue(amber), 0.7) !important;
}
//orange
.bgOrange{
    background:orange !important;
    
    }
    .orangeText{
    color: orange !important;
    }
    .bgOrange1{
        background: bg-orange-level1 !important;
    }
    .bgOrange2{
        background: bg-orange-level2 !important;
    }
    .bgOrange3{
        background: bg-orange-level3 !important;
    }
    .bgOrange4{
        background: bg-orange-level4 !important;
    }
    .bgOrange5{
        background: bg-orange-level5 !important;
    }
    .bgOrange6{
      background: bg-orange-level6 !important; 
    }
    .bgOrange7{
      background: bg-orange-level7 !important; 
    }
    .bgOrange8{
      background: bg-orange-level8 !important; 
    }
    .bgOrange9{
      background: bg-orange-level9 !important; 
    }
        //transparent
  .orangeTrans1 {
  background:  rgba(red(orange), green(orange), blue(orange), 0.3) !important;
}
.orangeTrans2 {
 background:  rgba(red(orange), green(orange), blue(orange), 0.4) !important;
}
.orangeTrans3 {
  background:  rgba(red(orange), green(orange), blue(orange), 0.5) !important;
}
.orangeTrans4 {
    background:  rgba(red(orange), green(orange), blue(orange), 0.6) !important;
}
.orangeTrans5 {
  background:  rgba(red(orange), green(orange), blue(orange), 0.7) !important;
}

//deep-orange
.bgDeepOrange{
    background:deep-orange !important;
    
    }
    .deepOrangeText{
    color: deep-orange !important;
    }
    .bgDeepOrange1{
        background: bg-deep-orange-level1 !important;
    }
    .bgDeepOrange2{
        background: bg-deep-orange-level2 !important;
    }
    .bgDeepOrange3{
        background: bg-deep-orange-level3 !important;
    }
    .bgDeepOrange4{
        background: bg-deep-orange-level4 !important;
    }
    .bgDeepOrange5{
        background: bg-deep-orange-level5 !important;
    }
    .bgDeepOrange6{
      background: bg-deep-orange-level6 !important; 
    }
    .bgDeepOrange7{
      background: bg-deep-orange-level7 !important; 
    }
    .bgDeepOrange8{
      background: bg-deep-orange-level8 !important; 
    }
    .bgDeepOrange9{
      background: bg-deep-orange-level9 !important; 
    }
        //transparent
  .deepOrangeTrans1 {
  background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.3) !important;
color:white !important;
}
.deepOrangeTrans2 {
 background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.4) !important;
color:white !important;
}
.deepOrangeTrans3 {
  background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.5) !important;
color:white !important;
}
.deepOrangeTrans4 {
    background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.6) !important;
color:white !important;
}
.deepOrangeTrans5 {
  background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.7) !important;
color:white !important;
}

//grey
.bgGrey{
    background:grey !important;
  
    }
    .greyText{
    color: grey !important;
    }
    .bgGrey1{
        background: bg-grey-level1 !important;
    }
    .bgGrey2{
        background: bg-grey-level2 !important;
    }
    .bgGrey3{
        background: bg-grey-level3 !important;
    }
    .bgGrey4{
        background: bg-grey-level4 !important;
    }
    .bgGrey5{
        background: bg-grey-level5 !important;
    }
    .bgGrey6{
      background: bg-grey-level6 !important; 
    }
    .bgGrey7{
      background: bg-grey-level7 !important; 
    }
    .bgGrey8{
      background: bg-grey-level8 !important; 
    }
    .bgGrey9{
      background: bg-grey-level9 !important; 
    }
       //transparent
  .greyTrans1 {
  background:  rgba(red(grey), green(grey), blue(grey), 0.3) !important;
}
.greyTrans2 {
 background:  rgba(red(grey), green(grey), blue(grey), 0.4) !important;
}
.greyTrans3 {
  background:  rgba(red(grey), green(grey), blue(grey), 0.5) !important;
}
.greyTrans4 {
    background:  rgba(red(grey), green(grey), blue(grey), 0.6) !important;
}
.greyTrans5 {
  background:  rgba(red(grey), green(grey), blue(grey), 0.7) !important;
}
//blue-grey
.bgBlueGrey{
    background:blue-grey !important;
  
    }
    .blueGreyText{
    color: blue-grey !important;
    }
    .bgBlueGrey1{
        background: bg-blue-grey-level1 !important;
    }
    .bgBlueGrey2{
        background: bg-blue-grey-level2 !important;
    }
    .bgBlueGrey3{
        background: bg-blue-grey-level3 !important;
    }
    .bgBlueGrey4{
        background: bg-blue-grey-level4 !important;
    }
    .bgBlueGrey5{
        background: bg-blue-grey-level5 !important;
    }
    .bgBlueGrey6{
      background: bg-blue-grey-level6 !important; 
    }
    .bgBlueGrey7{
      background: bg-blue-grey-level7 !important; 
    }
    .bgBlueGrey8{
      background: bg-blue-grey-level8 !important; 
    }
    .bgBlueGrey9{
      background: bg-blue-grey-level9 !important; 
    }
       //transparent
  .blueGreyTrans1 {
  background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.3) !important;
}
.blueGreyTrans2 {
 background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.4) !important;
}
.blueGreyTrans3 {
  background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.5) !important;
}
.blueGreyTrans4 {
    background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.6) !important;
}
.blueGreyTrans5 {
  background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.7) !important;
}
//brown
.bgBrown{
    background:brown !important;
  
    }
    .brownText{
    color: brown !important;
    }
    .bgBrown1{
        background: bg-brown-level1 !important;
    }
    .bgBrown2{
        background: bg-brown-level2 !important;
    }
    .bgBrown3{
        background: bg-brown-level3 !important;
    }
    .bgBrown4{
        background: bg-brown-level4 !important;
    }
    .bgBrown5{
        background: bg-brown-level5 !important;
    }
    .bgBrown6{
      background: bg-brown-level6 !important; 
    }
    .bgBrown7{
      background: bg-brown-level7 !important; 
    }
    .bgBrown8{
      background: bg-brown-level8 !important; 
    }
    .bgBrown9{
      background: bg-brown-level9 !important; 
    }
        //transparent
  .brownTrans1 {
  background:  rgba(red(brown), green(brown), blue(brown), 0.3) !important;
}
.brownTrans2 {
 background:  rgba(red(brown), green(brown), blue(brown), 0.4) !important;
}
.brownTrans3 {
  background:  rgba(red(brown), green(brown), blue(brown), 0.5) !important;
}
.brownTrans4 {
    background:  rgba(red(brown), green(brown), blue(brown), 0.6) !important;
}
.brownTrans5 {
  background:  rgba(red(brown), green(brown), blue(brown), 0.7) !important;
}

//Command Colors
.bgWhite {
  background: white !important;
}

.bgBrightblack {
  background: bright-black !important;
}

.bgBlack {
  background: black !important;
}

.bgDarkblack {
  background: background-black !important;
}

.offWhitetext{
    color: off-white !important;
    }

 .brightWhitetext{
    color: bright-white !important;
    }   

//Borders
.border{
  border:1px solid !important;
}
.thinBorder{
  border-style: solid !important;
  border-width: thin !important;

}
.mediumBorder{
  border-style: solid !important;
  border-width: medium !important;

}
.thickBorder{
  border-style: solid !important;
  border-width: thick !important;

}
.borderDash{
  border-style: dashed !important;
}
.borderDotted{
  border-style: dotted !important;
}
.borderDouble{
  border-style: double !important;
  
}
.redBorder{
  border-color:red !important;
 }
.blueBorder{
  border-color:blue !important;
 }
.greenBorder{
  border-color:green !important;
 }
.pinkBorder{
  border-color:pink !important;
 }
.purpleBorder{
  border-color:purple !important;
 }
.deepPurpleBorder{
  border-color:deep-purple !important;
 }
.indigoBorder{
  border-color:indigo !important;
 }
.cyanBorder{
  border-color:cyan !important;
 }
.lightBlueBorder{
  border-color:light-blue !important;
 }
.limeBorder{
  border-color:lime !important;
 }
 .lightGreenBorder{
  border-color:light-green !important;
 }
 .tealBorder{
  border-color:teal !important;
 }
 .yellowBorder{
  border-color:yellow !important;
 }
 .orangeBorder{
  border-color:orange !important;
 }
 .amberBorder{
  border-color:amber !important;
 }
 .deepOrangeBorder{
  border-color:deep-orange !important;
 }
 .greyBorder{
  border-color:grey !important;
 }
 .blueGreyBorder{
  border-color:blue-grey !important;
 }
 .brownBorder{
  border-color:brown !important;
 }
 .bl0{border-left:none !important;}
 .br0{border-right:none !important;}
 .bt0{border-top:none !important;}
 .bb0{border-bottom:none !important;}
 .outline{
 outline: 5px solid #e3e3e3 !important;
 }
 //cool backgrounds
 .paper1{
 background:linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2)) !important;
 }
.etText-brightwhite{color:bright-white !important;}
.etText-offwhite{color:off-white !important;}