.et-navigation {
    display:flex;
    flex-wrap:nowrap;
    box-sizing:border-box
}

.et-navigation__link {
    color:#424242;
    text-decoration:none;
    font-weight:500;
    font-size:13px;
    margin:0
}
.et-menu__container {
    display:block;
    margin:0;
    padding:0;
    border:none;
    position:absolute;
    overflow:visible;
    height:0;
    width:0;
    z-index:-1
}

.et-menu__container.is-visible {
    z-index:999
}

.et-menu__outline {
    display:block;
    background:#fff;
    margin:0;
    padding:0;
    border:none;
    border-radius:2px;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    opacity:0;
    transform:scale(0);
    transform-origin:0 0;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    will-change:transform;
    transition:transform .3s cubic-bezier(0.4,0,0.2,1),opacity .2s cubic-bezier(0.4,0,0.2,1);
    z-index:-1
}

.et-menu__container.is-visible .et-menu__outline {
    opacity:1;
    transform:scale(1);
    z-index:999
}

.et-menu__outline.et-menu--bottom-right {
    transform-origin:100% 0
}

.et-menu__outline.et-menu--top-left {
    transform-origin:0 100%
}

.et-menu__outline.et-menu--top-right {
    transform-origin:100% 100%
}

.et-menu {
    position:absolute;
    list-style:none;
    top:0;
    left:0;
    height:auto;
    width:auto;
    min-width:124px;
    padding:8px 0;
    margin:0;
    opacity:0;
    clip:rect(0 0 0 0);
    z-index:-1
}

.et-menu__container.is-visible .et-menu {
    opacity:1;
    z-index:999
}

.et-menu.is-animating {
    transition:opacity .2s cubic-bezier(0.4,0,0.2,1),clip .3s cubic-bezier(0.4,0,0.2,1)
}

.et-menu.et-menu--bottom-right {
    left:auto;
    right:0
}

.et-menu.et-menu--top-left {
    top:auto;
    bottom:0
}

.et-menu.et-menu--top-right {
    top:auto;
    left:auto;
    bottom:0;
    right:0
}

.et-menu.et-menu--unaligned {
    top:auto;
    left:auto
}

.et-menu__item {
    display:block;
    border:none;
    color:rgba(0,0,0,0.87);
    background-color:transparent;
    text-align:left;
    margin:0;
    padding:0 16px;
    outline-color:#bdbdbd;
    position:relative;
    overflow:hidden;
    font-size:14px;
    font-weight:400;
    line-height:24px;
    letter-spacing:0;
    text-decoration:none;
    cursor:pointer;
    height:48px;
    width:100%;
    line-height:48px;
    white-space:nowrap;
    opacity:0;
    transition:opacity .2s cubic-bezier(0.4,0,0.2,1);
    user-select:none
}

.et-menu__container.is-visible .et-menu__item {
    opacity:1
}

.et-menu__item::-moz-focus-inner {
    border:0
}

.et-menu__item[disabled] {
    color:#bdbdbd;
    background-color:transparent;
    cursor:auto
}

.et-menu__item[disabled]:hover {
    background-color:transparent
}

.et-menu__item[disabled]:focus {
    background-color:transparent
}

.et-menu__item[disabled] .et-ripple {
    background:transparent
}

.et-menu__item:hover {
    background-color:#eee
}

.et-menu__item:focus {
    outline:none;
    background-color:#eee
}

.et-menu__item:active {
    background-color:#e0e0e0
}

.et-menu__item--ripple-container {
    display:block;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:0;
    overflow:hidden
}
//aside-menu

.aside-menu {
display:flex;
flex-direction:column;
flex-wrap:nowrap;
width:100%;
height:100%;
max-height:100%;


box-sizing:border-box;
border-right:1px solid transparent;


transform-style:preserve-3d;
will-change:transform;
transition-duration:.2s;
transition-timing-function:cubic-bezier(0.4,0,0.2,1);
transition-property:transform;
color:#424242;
overflow:visible;
overflow-y:auto;
z-index:5
}
.aside-menu.is-visible {
transform:translateX(0)
}
.aside-menu>* {
flex-shrink:0
}
.aside-menu>.et-layout-title {
line-height:64px;
padding-left:40px
}
@media screen and (max-width: 850px) {
.aside-menu>.et-layout-title {
line-height:56px;
padding-left:16px
}
}
.aside-menu .et-navigation {
flex-direction:column;
align-items:stretch;
padding-top:16px
}
.aside-menu .et-navigation .et-navigation__link {
display:block;
flex-shrink:0;
padding:16px 40px;
margin:0;
color: #666;
}
@media screen and (max-width: 850px) {
.aside-menu .et-navigation .et-navigation__link {
padding:16px
}
}
.aside-menu .et-navigation .et-navigation__link:hover {
background-color:#e0e0e0
}
.aside-menu .et-navigation .is-active {
background-color:#000;
color:#3f51b5
}
@media screen and (min-width: 851px) {
.et-layout--fixed-drawer>.aside-menu {
transform:translateX(0)
}
}